





<div class="main-content" style="padding-top: 10px; padding-bottom: 30px;">
    <div class="container-fluid">

        
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link"[routerLink]="['/dashboard']"><p style="color: rgb(133, 141, 141);">Home</p></a>
    </li>
    <li  class=" nav-item" >
        <a class="nav-link active" [routerLink]="['/table-list']">Tyre</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/typography']"><p style="color: rgb(133, 141, 141);">Alloy</p></a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#"><p style="color: rgb(133, 141, 141);">Invoices</p></a>
    </li>
</ul> 
<br>
<div class="form-group">
    <label for="exampleFormControlSelect1"><h3><strong>Select Vehicle</strong></h3></label>

    <select class="form-control" id="exampleFormControlSelect1">
        <option>TN41-3678</option>
        <option>TN41-3368</option>
        <option>TN41-4555</option>
    </select>
</div> 


<!-- For Mobile (less than 992px) -->

<div style="
    position: relative;
"id="image-container" class="d-block d-lg-none">
<img src="./assets/img/tyre.png" alt="Mobile Image" class="img-fluid d-block d-lg-none" style="margin-bottom: 0; width: 50%; margin-left: auto; margin-right: auto;">


<!-- <img src="./assets/img/tyre.png" alt="Mobile Image" class="img-fluid d-block d-lg-none" style="margin-bottom: 0;"> -->
<div  style="left: 1px; top: 20px;position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: block;" ><table style="border-collapse: collapse; width: 1%; font-size: 12px; padding: 2px;">
  <tr>
    <th colspan="2" style="border: 1px solid black;">T.NO</th>
    <th colspan="2" style="border: 1px solid black;">Depth</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;">1</td>
    <td style="border: 1px solid black;">2</td>
    <td style="border: 1px solid black;">80%</td>
    <td style="border: 1px solid black;">70%</td>
  </tr>
</table></div>

<div  style="left: 1px; top: 100px;position: absolute;
background-color: rgba(0, 0, 0, 0.7);
color: white;
padding: 5px;
border-radius: 5px;
display: block;" data-tooltip="Tooltip 2">
<table style="border-collapse: collapse; width: 1%; font-size: 12px; padding: 2px;">
  <tr>
    <th colspan="2" style="border: 1px solid black;">T.NO</th>
    <th colspan="2" style="border: 1px solid black;">Depth</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;">3</td>
    <td style="border: 1px solid black;">4</td>
    <td style="border: 1px solid black;">80%</td>
    <td style="border: 1px solid black;">70%</td>
  </tr>
</table>

</div>

<div  style="left: 250px; top: 100px;position: absolute;
background-color: rgba(0, 0, 0, 0.7);
color: white;
padding: 5px;
border-radius: 5px;
display: block;" data-tooltip="Tooltip 3"><table style="border-collapse: collapse; width: 1%; font-size: 12px; padding: 2px;">
  <tr>
    <th colspan="2" style="border: 1px solid black;">T.NO</th>
    <th colspan="2" style="border: 1px solid black;">Depth</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;">5</td>
    <td style="border: 1px solid black;">6</td>
    <td style="border: 1px solid black;">80%</td>
    <td style="border: 1px solid black;">70%</td>
  </tr>
</table></div>


<div  style="left: 1px; top: 170px;position: absolute;
background-color: rgba(0, 0, 0, 0.7);
color: white;
padding: 5px;
border-radius: 5px;
display: block;" data-tooltip="Tooltip 3"><table style="border-collapse: collapse; width: 1%; font-size: 12px; padding: 2px;">
  <tr>
    <th colspan="2" style="border: 1px solid black;">T.NO</th>
    <th colspan="2" style="border: 1px solid black;">Depth</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;">8</td>
    <td style="border: 1px solid black;">7</td>
    <td style="border: 1px solid black;">80%</td>
    <td style="border: 1px solid black;">70%</td>
  </tr>
</table></div>

<div  style="left: 250px; top: 170px;position: absolute;
background-color: rgba(0, 0, 0, 0.7);
color: white;
padding: 5px;
border-radius: 5px;
display: block;" data-tooltip="Tooltip 3"><table style="border-collapse: collapse; width: 1%; font-size: 12px; padding: 2px;">
  <tr>
    <th colspan="2" style="border: 1px solid black;">T.NO</th>
    <th colspan="2" style="border: 1px solid black;">Depth</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;">9</td>
    <td style="border: 1px solid black;">10</td>
    <td style="border: 1px solid black;">80%</td>
    <td style="border: 1px solid black;">70%</td>
  </tr>
</table></div>

<div  style="left: 1px; top: 270px;position: absolute;
background-color: rgba(0, 0, 0, 0.7);
color: white;
padding: 5px;
border-radius: 5px;
display: block;" data-tooltip="Tooltip 3"><table style="border-collapse: collapse; width: 1%; font-size: 12px; padding: 2px;">
  <tr>
    <th colspan="2" style="border: 1px solid black;">T.NO</th>
    <th colspan="2" style="border: 1px solid black;">Depth</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;">11</td>
    <td style="border: 1px solid black;">12</td>
    <td style="border: 1px solid black;">80%</td>
    <td style="border: 1px solid black;">70%</td>
  </tr>
</table></div>

<div  style="left: 250px; top: 270px;position: absolute;
background-color: rgba(0, 0, 0, 0.7);
color: white;
padding: 5px;
border-radius: 5px;
display: block;" data-tooltip="Tooltip 3"><table style="border-collapse: collapse; width: 1%; font-size: 12px; padding: 2px;">
  <tr>
    <th colspan="2" style="border: 1px solid black;">T.NO</th>
    <th colspan="2" style="border: 1px solid black;">Depth</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;">13</td>
    <td style="border: 1px solid black;">14</td>
    <td style="border: 1px solid black;">80%</td>
    <td style="border: 1px solid black;">70%</td>
  </tr>
</table></div>
<div  style="left: 1px; top: 350px;position: absolute;
background-color: rgba(0, 0, 0, 0.7);
color: white;
padding: 5px;
border-radius: 5px;
display: block;" data-tooltip="Tooltip 3"><table style="border-collapse: collapse; width: 1%; font-size: 12px; padding: 2px;">
  <tr>
    <th colspan="2" style="border: 1px solid black;">T.NO</th>
    <th colspan="2" style="border: 1px solid black;">Depth</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;">15</td>
    <td style="border: 1px solid black;">16</td>
    <td style="border: 1px solid black;">80%</td>
    <td style="border: 1px solid black;">70%</td>
  </tr>
</table></div>

<div  style="left: 250px; top: 350px;position: absolute;
background-color: rgba(0, 0, 0, 0.7);
color: white;
padding: 1px;
border-radius: 5px;
display: block;" data-tooltip="Tooltip 3"><table style="border-collapse: collapse; width: 1%; font-size: 12px; padding: 2px;">
  <tr>
    <th colspan="2" style="border: 1px solid black;">T.NO</th>
    <th colspan="2" style="border: 1px solid black;">Depth</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;">17</td>
    <td style="border: 1px solid black;">18</td>
    <td style="border: 1px solid black;">80%</td>
    <td style="border: 1px solid black;">70%</td>
  </tr>
</table></div>

<div  style="left: 1px; top: 420px;position: absolute;
background-color: rgba(0, 0, 0, 0.7);
color: white;
padding: 5px;
border-radius: 5px;
display: block;" data-tooltip="Tooltip 3"><table style="border-collapse: collapse; width: 1%; font-size: 12px; padding: 2px;">
  <tr>
    <th colspan="2" style="border: 1px solid black;">T.NO</th>
    <th colspan="2" style="border: 1px solid black;">Depth</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;">19</td>
    <td style="border: 1px solid black;">20</td>
    <td style="border: 1px solid black;">80%</td>
    <td style="border: 1px solid black;">70%</td>
  </tr>
</table></div>

<div  style="left: 250px; top: 420px;position: absolute;
background-color: rgba(0, 0, 0, 0.7);
color: white;
padding: 1px;
border-radius: 5px;
display: block;" data-tooltip="Tooltip 3"><table style="border-collapse: collapse; width: 1%; font-size: 12px; padding: 2px;">
  <tr>
    <th colspan="2" style="border: 1px solid black;">T.NO</th>
    <th colspan="2" style="border: 1px solid black;">Depth</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;">21</td>
    <td style="border: 1px solid black;">22</td>
    <td style="border: 1px solid black;">80%</td>
    <td style="border: 1px solid black;">70%</td>
  </tr>
</table></div>
</div>

<!-- <img src="./assets/img/tyre.png" alt="Mobile Image" class="img-fluid d-block d-lg-none" style="margin-bottom: 0;"> -->

<!-- For Web (992px and above) -->
<img src="./assets/img/tyre1.png" alt="Web Image" style="width:100%; height: 500px; margin-bottom: 0;" class="img-fluid d-none d-lg-block">


<div class="container">

  <!-- Filter Toggle Button -->
  
  <button class="btn btn btn-sm d-block d-md-none mb-3" type="button" (click)="toggleFilter()" style="border-radius: 0.25rem;">
    <i class="fa fa-filter"></i> Filter Options
</button>


  <!-- Filter Container -->
  <div [class.collapse]="isCollapsed" [class.show]="!isCollapsed" id="filterCollapse">

    <div class="row">
      
      <!-- Date Filter UI -->
      <div class="col-12 col-md-4 mb-3">
        <label for="filterDate" style="font-weight: bold; display: block; margin-bottom: 5px;">Date Filter:</label>
        <input type="date" id="filterDate" name="filterDate" class="form-control" style="padding: .375rem .75rem; border: 1px solid #ced4da; border-radius: .25rem; width: 100%;">
      </div>

      <!-- Position Filter UI -->
      <div class="col-12 col-md-4 mb-3">
        <label for="filterPosition">Position Filter:</label>
        <select id="filterPosition" class="form-control" [(ngModel)]="selectedPosition">
            <option value="">All</option>
            <option value="1L0">1L0</option>
            <option value="1R0">1R0</option>
            <option value="2L0">2L0</option>
            <option value="2L1">2L1</option>
            <option value="2R0">2R0</option>
            <option value="2R1">2R1</option>
            <option value="3L0">3L0</option>
            <option value="3L1">3L1</option>
            <option value="3R0">3R0</option>
            <option value="3R1">3R1</option>
            <option value="4L0">4L0</option>
            <option value="4R0">4R0</option>
            <option value="4R1">4R1</option>
            <option value="5L0">5L0</option>
            <option value="5L1">5L1</option>
            <option value="5R0">5R0</option>
            <option value="5R1">5R1</option>
            <option value="6L0">6L0</option>
            <option value="6L1">6L1</option>
            <option value="6R0">6R0</option>
            <option value="6R1">6R1</option>
        </select>
      </div>

      <!-- Global Search UI -->
      <div class="col-12 col-md-4 mb-3">
        <label for="globalSearch">Global Search:</label>
        <input type="text" id="globalSearch" class="form-control" [(ngModel)]="globalSearchText">
      </div>

    </div>
  </div>
</div>






  
<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Tyre pressure</h4>
          </div>
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table">
                      <thead class="text-primary">
                          <th>Sl.No</th>
                          <th>Date</th>
                          <th>Position</th>
                          <th>Tyre Pressure</th>
                          <th>T.No</th>
                          <th>T.Depth</th>
                          <th>T.complaint</th>
                          <th>T.mileage</th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let row of tableData">
                              <td>{{ row.slNo }}</td>
                              <td>{{ row.date }}</td>
                              <td>{{ row.position }}</td>
                              <td>{{ row.tyrePressure }}</td>
                              <td>{{ row.tNo }}</td>
                              <td>{{ row.tDepth }}</td>
                              <td>{{ row.tComplaint }}</td>
                              <td>{{ row.tMileage }}</td>
                          </tr>
                      </tbody>
                  </table>

                  <!-- Pagination buttons -->
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" (click)="changePage(-1)" [class.disabled]="isPrevDisabled()">Previous</a>
                        </li>
                        
                        <li class="page-item">
                            <a class="page-link" (click)="changePage(1)" [class.disabled]="isNextDisabled()">Next</a>
                        </li>
                    </ul>
                </nav>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="bottom-bar fixed-bottom bg-white">
  <div class="container-fluid">
      <div class="row justify-content-center">
          <!-- Icon 1 -->
          <div class="col text-center">
              <a href="#" class="icon-link">
                  <i class="material-icons">home</i>
                  <p class="icon-text">Home</p>
              </a>
          </div>
          <!-- Icon 2 -->
          <div class="col text-center">
              <a  [routerLink]="['/table-list']" class="icon-link">
                  <i class="material-icons">album</i>

                  <p class="icon-text">Tyre</p>
              </a>
          </div>

          
          <!-- Icon 3 -->
          <div class="col text-center">
              <a  [routerLink]="['/typography']" class="icon-link">
                  <i class="material-icons">local_shipping</i>

                  <p class="icon-text">Alloy</p>
              </a>
          </div>
          <!-- Icon 4 -->
          <div class="col text-center">
              <a href="#" class="icon-link">
                  <i class="material-icons">insert_drive_file</i>

                  <p class="icon-text">Invoice</p>
              </a>
          </div>
      </div>
  </div>
</div>
    </div>
</div>
