



<div class="main-content">
    <div class="container-fluid">


      <div class="modal"  id="userModal" >
        <div class="modal-dialog-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create User</h5>
                    <button type="button" class="close" (click)="closeModal('userModal')" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 1500px; overflow-y: auto;">
                  <div style="padding: 16px; background-color: white;">
                    <h1>Register</h1>
                    <p>Please fill in this form to create an account.</p>
                    <hr style="border: 1px solid #f1f1f1; margin-bottom: 25px;">
                
                    <label for="email"><b>Email</b></label>
                    <input type="text" [value]="user?.email" placeholder="Enter Email" name="email" id="email" required 
                           style="width: 100%; padding: 15px; margin: 5px 0 22px 0; display: inline-block; border: none; background: #f1f1f1;">
                           <div id="emailError" style="color: red;"></div>
                
                    <label for="psw"><b>Password</b></label>
                    <input type="text" [value]="user?.password" placeholder="Enter Password" name="psw" id="psw" required 
                           style="width: 100%; padding: 15px; margin: 5px 0 22px 0; display: inline-block; border: none; background: #f1f1f1;">
                
                    <button (click)="createuser()" type="submit" style="background-color: #04AA6D; color: white; padding: 16px 20px; margin: 8px 0; border: none; cursor: pointer; width: 100%; opacity: 0.9;">Register</button>
                  </div>
                  
                  <div style="background-color: #f1f1f1; text-align: center; padding: 16px;">
                    <p>Already have an account? <a href="#" style="color: dodgerblue;">Sign in</a>.</p>
                  </div>
                
                </div>
            </div>
        </div>
    </div>
        <div class="modal"  id="getModal" >
            <div class="modal-dialog-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Customer</h5>
                        <button type="button" class="close" (click)="closeModal('getModal')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="max-height: 1500px; overflow-y: auto;">
                        <form>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Name</label>
                                <input type="text" id="Name" class="form-control" >
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputPassword4">Mobile Number</label>
                                <input type="text" id="mobile_number" class="form-control" >
                              </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">Company Name</label>
                                  <input type="text" id="companyname" class="form-control"  >
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputPassword4">Company Address</label>
                                  <input type="text" id="companyAdd" class="form-control" >
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">RefferedBy</label>
                                  <input type="text" id="refferedby" class="form-control"  >
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputPassword4">Credit Limit</label>
                                  <input type="text" id="creditlimit" class="form-control"  >
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">Email</label>
                                  <input type="text" id="email1" class="form-control"  >
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputPassword4">Balance</label>
                                  <input type="text" id="balance" class="form-control"  >
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">GST NO</label>
                                  <input type="text" id="GST" class="form-control"  >
                                </div>
                               
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="uploadPic1">Upload Pancard</label>
                                  <input type="file" id="uploadPic1" class="form-control" (change)="previewFile($event, 'picPreview1','pancardData')">
                                </div>
                                <div class="form-group col-md-6">
                                  <label>Picture Preview</label>
                                  <img id="picPreview1" class="img-thumbnail" style="display: none; width: 100px; height: 100px;">
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="uploadPic2">Upload Adhar</label>
                                  <input type="file" id="uploadPic2" class="form-control" (change)="previewFile($event, 'picPreview2','adharData')">
                                </div>
                                <div class="form-group col-md-6">
                                  <label>Picture Preview</label>
                                  <img id="picPreview2" class="img-thumbnail" style="display: none; width: 100px; height: 100px;">
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">Credit</label>
                                  <input type="checkbox"  [(ngModel)]="switch" >
                                </div>
                               
                              </div>
                            
                            <button type="submit" (click)="create()" class="btn btn-primary">Create</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="viewModal" tabindex="-1" role="dialog">
            <div class="modal-dialog-lg" role="document">
                <div class="modal-content">
                  
                  <div class="modal-header">
                      <h3 class="modal-title" >Payment Screen Shot</h3>
                      <button type="button" (click)="closeModal('viewModal')" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                   
                  <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                      <div class="card">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-md-12">
                      <img id="modalImage" src="" alt="Image">
                      </div>
                      </div>
                      </div>
                      </div>
                    </div>
  
                    <div class="modal-footer">
                      <button type="button"  (click)="closeModal('viewModal')"class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary"  (click)="downloadImage(modalImageSrc)">DOWNLOAD</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal"  id="getModal1" >
            <div class="modal-dialog-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Customer</h5>
                        <button type="button" class="close" (click)="closeModal('getModal1')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="max-height: 1500px; overflow-y: auto;">
                        <form>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Name</label>
                                <input type="text" [value]="selectedcus?.name" id="Name1" class="form-control" >
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputPassword4">Mobile Number</label>
                                <input type="text" [value]="selectedcus?.mobile_number" id="mobile_number1" class="form-control" >
                              </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">Company Name</label>
                                  <input type="text" [value]="selectedcus?.companyname" id="companyname1" class="form-control"  >
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputPassword4">Company Address</label>
                                  <input type="text" id="companyAdd1" [value]="selectedcus?.companyAddress" class="form-control" >
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">RefferedBy</label>
                                  <input type="text" id="refferedby1" [value]="selectedcus?.RefferedBy" class="form-control"  >
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputPassword4">Credit Limit</label>
                                  <input type="text" id="creditlimit1"[value]="selectedcus?.CreditLimit" class="form-control"  >
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">Email</label>
                                  <input type="text" id="email1" [value]="selectedcus?.email" class="form-control"  >
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputPassword4">Balance</label>
                                  <input type="text" id="balance1" [value]="selectedcus?.balance" class="form-control"  >
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">GST NO</label>
                                  <input type="text" id="GST1" [value]="selectedcus?.gst" class="form-control"  >
                                </div>
                               
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="uploadPic11">Upload Pancard</label>
                                  <input type="file" id="uploadPic11" class="form-control" (change)="previewFile($event, 'uploadPic3','pancardData1')">
                                </div>
                                <div class="form-group col-md-3">
                                  <label>Picture Preview</label>
                                  <img  [src]="selectedcus?.pancard" id="uploadPic2" class="img-thumbnail" style=" width: 100px; height: 100px;">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Edited Preview</label>
                                    <img   id="uploadPic3" class="img-thumbnail" style=" width: 100px; height: 100px;">
                                  </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="uploadPic21">Upload Adhar</label>
                                  <input type="file" id="uploadPic21" class="form-control" (change)="previewFile($event, 'pic2','adharData1')">
                                </div>
                                <div class="form-group col-md-3">
                                  <label>Picture Preview</label>
                                  <img  id="pic" class="img-thumbnail" style=" width: 100px; height: 100px;">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Edited Preview</label>
                                    <img  id="pic2" class="img-thumbnail" style=" width: 100px; height: 100px;">
                                  </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">Credit</label>
                                  <input type="checkbox"  [(ngModel)]="main" >
                                </div>
                               
                              </div>
                            
                            <button type="submit" (click)="update()" class="btn btn-primary">Update</button>
                          </form>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"><button (click)="open()" type="button" class="btn btn-light"><i class="fa fa-plus-circle"></i>Add Customer</button></div>
      </div>
      <div  class="card ">
        <div class="card-header card-header-danger">
            Customer Details
        </div>  
        <div class="card-body"> 
<div class="table-responsive">
    <table id="myTable"  class="table">
      <thead class="text-primary">
        <tr>
            
          <th><a>
            <!-- <i (click)="open()" class="fa fa-plus-circle"></i> -->
          </a>Sl.No</th>
          <th>Name</th>
          <th>Mobile Number</th>
          <th>Gst No</th>
          <th>Company Name</th>
          <th>Company Address</th>
          <th>Reffered By</th>
          <th>Credit Limit</th>
          <th>Email</th>
          <th>Balance</th>
          <th>Pancard</th>
          <th>Adhar</th>
          
          <th>Actions</th>
          <th>Login</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data; let i = index">
          <td>{{ i }}</td>
          <td>{{ row.Name }}</td>
          <td>{{ row.Rate}}</td>
       
         
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
    </div>
</div>
  
                   